@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@import "tailwindcss";

* {
  font-family: "IBM Plex Sans", sans-serif;
}

@media print {
  body * {
    visibility: hidden;
  }

  .print\:block,
  .print\:block * {
    visibility: visible;
  }

  .print\:block {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
}